<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="my-style.css">
</head>

<body>
    <div class="container">
        <div>
            <p class="text-center my-0">
                <span>
                    <strong>MINISTÉRIO DA DEFESA</strong>
                </span>
            </p>
            <p class="text-center my-0">
                <span>
                    <strong>EXÉRCITO BRASILEIRO</strong>
                </span>
            </p>
            <p class="text-center my-0">
                <span>
                    <strong>DCT - DSG</strong>
                </span>
            </p>
            <p class="text-center my-0">
                <span>
                    <strong> {{om_name}} </strong>
                </span>
            </p>
            <p class="text-center mt-5">
                <strong>RELATÓRIO DE CONTROLE DE QUALIDADE N° {{doc_number}}/{{work_year}} </strong>
            </p>
        </div>
        <table class="main-table">
            <tbody>
                <tr>
                    <th class="left-align" colspan="2">
                        <p class="ms-2 my-1">1. Produto: {{product_type}} - {{block}} </p>
                    </th>
                </tr>
                <tr>
                    <th class="left-align" colspan="2">
                        <p class="ms-2 my-1"> 2. Metodologia Utilizada: </p>
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="left-align ms-2 my-3">
                            A presente ortoimagem foi avaliada utilizando a Metodologia de Controle de Qualidade de
                            Isumos Matriciais 1° Edição, de 31 de março de 2023 baseada na Especificação Técnica
                            para Controle de Qualidade de Dados Geoespaciais (ET-CQDG), 1° Edição (2016).
                        </p>
                    </td>
                </tr>
                <tr>
                    <th class="left-align">
                        <p class="ms-2 my-1"> 3. Período de Trabalho - Mês: {{work_month}}</p>
                    </th>
                    <th class="left-align"> Ano: </strong>{{work_year}}
                    </th>
                </tr>
                <tr>
                    <th class="left-align" colspan="2">
                        <p class="ms-2 my-1"> 4. Identificação do Produto:</p>
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="inner-table my-3 mx-3">
                            <tbody>
                                <tr>
                                    <th>Projeto</th>
                                    <td class="left-align">{{project_name}}</td>
                                </tr>
                                <tr>
                                    <th>Bloco</th>
                                    <td class="left-align">{{block}}</td>
                                </tr>
                                <tr>
                                    <th>Escala</th>
                                    <td class="left-align">{{map_scale}}</td>
                                </tr>
                                <tr>
                                    <th>Sistema de Referência </th>
                                    <td class="left-align"> {{src}} </td>
                                </tr>
                                <tr>
                                    <th> Tipo de Produto </th>
                                    <td class="left-align"> {{product_type}} </td>
                                </tr>
                                <tr>
                                    <th> Data de Finalização </th>
                                    <td class="left-align"> {{finish_project_date}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th class="left-align" colspan="2">
                        <p class="ms-2 my-1"> 5. Avaliação de Oclusões: {{conformity}}</p>
                    </th>
                </tr>
                <tr>
                    <td class="left-align" colspan="2">
                        <p class="left-align ms-2 my-3">
                            Medida de área máxima de oclusão: <br>{{evaluation_result}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <th class="left-align" colspan="2">
                        <p class="ms-2 my-1">6. Sumário: </p>
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        <table class="inner-table left-align my-3">
                            <thead>
                                <tr>
                                    <th>Elemento</th>
                                    <th>Medida</th>
                                    <th>Procedimento</th>
                                    <th>Resultado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Oclusão </td>
                                    <td>-</td>
                                    <td> Direto interno <br> Inspeção completa </td>
                                    <td> Conforme </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th class="left-align" colspan="2">
                        <p class="ms-2 my-1"> 7. Parecer Final: </p>
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="left-align ms-2 my-3">
                            De acordo com as medidas estabelecidas, o produto Ortoimagem referente ao {{block}} foi
                            considerado <u><strong>{{conformity}}</strong></u>.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <p>&nbsp;</p>

        <p class="western" align="center">
            <span>{{local_and_time}}.</span>
        </p>

        <p><br /><br /></p>

        <p class="text-center my-0">
            <span>______________________________________</span>
        </p>
        <p class="text-center my-0">
            <span><strong>{{avaliador}}</strong></span>
        </p>
        <p class="text-center my-0">
            <span>Avaliador</span>
        </p>

        <p class="western" align="center">&nbsp;</p>
        <p class="western" align="center">&nbsp;</p>

        <p class="text-center my-0">
            <span>______________________________________</span>
        </p>
        <p class="text-center my-0">
            <span><strong>{{responsavel_tecnico}}</strong></span>
        </p>
        <p class="text-center my-0">
            <span>Responsável Técnico</span>
        </p>
    </div>
</body>

</html>